---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Type'
    value: page.object_type
  - label: 'Forbidden City Location'
    value: page.location_FC
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'Object Origin'
    value: page._origin
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
  - label: 'Inscription (zh)'
    value: page.inscription_zh
  - label: 'Inscription (en)'
    value: page.inscription_en
    
---
